@model AuktionMVC.Models.BidViewModel;

<div class="card mb-2">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="@Model.BidderAvatarUrl" class="rounded-circle me-3" alt="Budare">
                <div>
                    <h6 class="mb-0">@Model.BidderName</h6>
                    <small class="text-muted">@Model.TimeSinceBid.RemainingString()</small>
                </div>
            </div>
            <h5 class="mb-0">@(Model.Amount)kr</h5>
        </div>
    </div>
</div>